<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Made One</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.ico">


    <th:block layout:fragment="css"></th:block>
</head>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="/" class="logo me-auto"><img src="/img/tap1.png" alt=""></a>

        <nav id="navbar" class="navbar order-last order-lg-0  ">
            <ul>
                <li><a class="nav-link scrollto" sec:authorize="isAnonymous()" href="/member/save">Sign up</a></li>
                <li><a class="nav-link scrollto"  sec:authorize="isAuthenticated()"  href="/mypage/check" >myPage</a></li>
                <li class="dropdown" ><a href="#" sec:authorize="hasAnyAuthority('ROLE_EDITOR')"><span>등록자 관련</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                                <li><a href="/shopregist" sec:authorize="hasAnyAuthority('ROLE_EDITOR')">가게 등록</a></li>
                                <li><a  href="/shop/myShopList" sec:authorize="hasAnyAuthority('ROLE_EDITOR')">등록한 가게 리스트</a></li>
                    </ul>
                </li>
                <li class="dropdown" ><a href="#" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><span>관리자 관련</span> <i class="bi bi-chevron-down"></i></a>
                                <li><a  href="/admin/member/list" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">회원관리</a></li>
                                <li><a href="/admin/editor/check/list" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">등록자 신청 리스트</a></li>
                                <li><a href="/shopregist" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">가게 등록</a></li>
                                <li><a  href="/shop/myShopList" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">등록한 가게 리스트</a></li>

                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a  class="get-started-btn scrollto" sec:authorize="isAnonymous()" href="/member/login">Login</a>
        <a  class="get-started-btn scrollto"   sec:authorize="isAuthenticated()" href="/logout">Logout</a>
    </div>
</header>

</html>