<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <link rel="stylesheet" href="css/style.css">
<script src="/js/user.js"></script>
</head>
<div layout:fragment="content">
    <section class="bg-light">
    <form  th:object="${memberDTO}" >
        <div class="container py-4">
            <div class="row align-items-center text-center justify-content-between">
                <span class="text-dark h4">등록자 신청</span>
            </div>
        <div class="form-group mb-3">
            <label th:for="member_id">아이디</label>
            <input type="text" class="form-control" name="member_id" id="member_id" th:field="*{member_id}"  readonly>
        </div>
        <div class="form-group mb-3">
            <label th:for="member_name">이름</label>
            <input type="text" class="form-control" name=member_name id="member_name" th:field="*{member_name}"readonly><br>
        </div>
        <div class="mb-3">
            <p id="error-message"></p>
            <div  class="d-grid gap-2 ">
            <input type="button" class="btn btn-primary" onclick="editor_register()" value="신청">
            </div>
            <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        </div>
        </div>
    </form>
    </section>
</div>

</html>


