<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>팀원 소개</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="header.html::header"></div>
<div th:replace="nav.html::nav"></div>
<p>201745094 전승원</p>
<p>201845043 김정인</p>
<p>201945045 최필묵</p>
<p>201945052 윤여환</p>
<p>201945062 박범준</p>
<div th:replace="footer.html::footer"></div>
</body>
</html>